{% extends 'other/base.htm' %}
{% block title %} Password Reset Done Page {% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h3>Password Reset Done</h3>
                <hr>
                <div class="alert alert-info">
                    <h3><b>Mail</b> has been sent to your Email</h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}